<div class="container">
  <% @flat.photo.each do |photo| %>
    <%= cl_image_tag photo.key, height: 200, width: 318, crop: :fill %>
  <% end %>
  <h2><%= @flat.title %></h2>

  <h3>
    <ul>
      <li><%= @flat.address %></li>
      <li><%= @flat.capacity %> people</li>
      <li><%= @flat.description %></li>
      <li><%= @flat.price %>€ / night</li>
    </ul>
  </h3>

<%# <% @reservation.reviews.each do |review| %>
<%# <p> %>
<%# <%= review.content %>
<%# <%= review.rating %>
<%# </p> %>

<%# <% end %>

<%# <%= link_to "Add a review", new_reservation_review_path(@restaurant) %>
  <%= link_to "Book now", new_flat_reservation_path(@flat), class: "btn btn-primary" %>
  <br>
  <%= link_to "Back to Flats", flats_path, class: "btn btn-primary" %>
</div>
