<%= form_with url: "/search", :class => "row m-5 search-bar", method: :get do |form| %>
  
  <div class="col" id="city">
    <%= form.label :city, "Where are you going?", :class => "form-label" %>
    <%= form.text_field :city, :id => "city" %>
  </div>

  <div class="v-divider">
  </div>

  <div class="col" id="checkin">
    <%= form.label :checkin, "Check-In"%>
    <%= form.date_field :checkin, :id => "checkin" %>
  </div>

  <div class="v-divider">
  </div>

  <div class="col" id="checkout">
    <%= form.label :checkout, "Check-Out" %>
    <%= form.date_field :checkout, :id => "checkout" %>
  </div>

  <div class="v-divider">
  </div>

  <div class="col" id="guests">
    <%= form.label :guests, "Guests" %>
    <%= form.number_field :guests, in: 1..6, step: 1, :id => "guests" %>
  </div>

  <div class="v-divider">
  </div>

    <%= form.submit "Search" , :class => "col", :id => "search-btn" %>

<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>